.maindivbg {
    background: linear-gradient("#63299A", "#D369E5");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-wrapper {
    width: 90%;
    padding: 20px 0;
}

.slick-slide {
    padding: 10px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
}

.custom-card {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-card .card-img {
    height: 185.63px;
    width: 278.44px;
    margin: 20px;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}